<launch>

    <node name="keyboardController" pkg="key_teleop" type="key_teleop.py" output='screen' launch-prefix="gnome-terminal --  "/>
    <node name="operator" pkg="plymouth_internship_2019" type="operator" output='screen'/>
    <node name="fleetCoordinator" pkg="plymouth_internship_2019" type="fleetCoordinator" output='screen'/>
    <node type="rviz" name="rviz" pkg="rviz" />
    <node pkg="rostopic" type="rostopic" name="gps_origin" args="pub /launch_send_gps_origin geometry_msgs/Vector3 -- 50.695251 -4.236975 0" output="screen"/>
    <node pkg="WRSC_plymouth_JEGAT" type="rviz_displayer_fleet.py" name="rviz_displayer_fleet" />
</launch>


