<launch>


    <node name="fleetCoordinator" pkg="plymouth_internship_2019" type="fleetCoordinator" output='screen'/>
    <node type="rviz" name="rviz" pkg="rviz" />
    <node pkg="rostopic" type="rostopic" name="gps_origin" args="pub /launch_send_gps_origin geometry_msgs/Vector3 -- 50.375471 -4.138836 0" output="screen"/>
    <node pkg="WRSC_plymouth_JEGAT" type="rviz_displayer_fleet.py" name="rviz_displayer_fleet" />
    <node name="operator" pkg="plymouth_internship_2019" type="operator" output='screen' />
    <param name="fleetSize" type="int" value="$(arg size)" />

</launch>


