<launch>


<!-- Set the parameters for image processing -->
    <arg name="horizon" default="False" />
    <arg name="masts" default="False" />
    <arg name="buoy" default="False" />
    <arg name="marker" default="False" />
    <arg name="output" default="False" />
    <arg name="size" default="0.5" />
    <include file="$(find plymouth_internship_2019)/Launch/imageProcessing.launch" pass_all_args="true"/>

</launch>
